<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024747278448-bepmiaoldj8mivlnlu55l9qvpd6m8175.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024747278448-bepmiaoldj8mivlnlu55l9qvpd6m8175</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024747278448-eempghfaboofihlhl51e7cms20mvdr4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMRslcWeuSUKw01UBcN4YME8fXbvs8NZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1024747278448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doogy.transfer.app</string>
	<key>PROJECT_ID</key>
	<string>testdoogie</string>
	<key>STORAGE_BUCKET</key>
	<string>testdoogie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024747278448:ios:7b683dc0b0c727b771a4b5</string>
</dict>
</plist>